@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  grid-template-rows: 1fr, auto, 1fr;
}

nextjs-portal {
  z-index: -1000;
}

/* #hero-pic-container, #my-pic-container {
  height: 400px;
  width: 400px; 
  border-radius: 50%;
  overflow: hidden;
} */

/* * {
  border: 1px solid white
} */

